[submodule "tools/splitter"]
	path = tools/splitter
	url = https://github.com/sozud/saturn-splitter.git
[submodule "tools/bchunk"]
	path = tools/bchunk
	url = https://github.com/bjornreppen/binchunk.git
