assets/videos/*.avi
disks/cdda/*.wav
disks/files
disks/gen
disks/rawfiles
disks/script_template.dsc
disks/**/*.bin
disks/**/*.cue
tools/blackt/obj
tools/blackt/**/*.a
tools/blackt/**/*.d
tools/blackt/**/*.o
tools/libdiscaster/obj
tools/libdiscaster/**/*.a
tools/libdiscaster/**/*.d
tools/libdiscaster/**/*.o
tools/discaster/discanalyze
tools/discaster/discaster
tools/discaster/test
x4_rebuild.bin
x4_rebuild.cue